.notifications
  & #notification
    transition: all 0.2s ease
    margin-bottom: -30%
    &:last-of-type
      margin-bottom: 0
  &:hover #notification
    margin-bottom: 8px
    &:last-of-type
      margin-bottom: 0
